.loginContent {
  margin: 0px;
  padding: 0px;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  text-transform: uppercase;
}

.inputText {
  margin-top: 28px;
  margin-bottom: 0px;
  padding: 0;
  letter-spacing: 6px;
}

.inputFieldUser {
  margin: 8px 0 0 0;

  height: 57.45px;

  font-size: 24px;
  font-style: italic;
  text-indent: 10px;

  border-radius: 16px;

  padding-left: 0;
}

.inputFieldPassword {
  margin: 8px 0 0 0;

  height: 57.45px;

  letter-spacing: 6px;
  font-size: 24px;
  font-style: italic;
  text-indent: 10px;

  border-radius: 16px;

  padding-left: 30px;
}

.error {
  color: #c00203;
  margin-bottom: 12px;
}

.sendButton {
  text-transform: uppercase;

  margin: 12px 0 0 0;

  height: 57.45px;
  width: 326.2px;

  font-size: 18px;

  border-radius: 16px;

  letter-spacing: 6px;
  color: #fff;

  transition-duration: 200ms;
}
