.loginContent {
    margin: 0px;
    padding: 0px;

  


    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    text-transform: uppercase;
}

.portalImperial {
    margin: 19px 0;
    color: #C00203;

    font-size: 24px;
    letter-spacing: 6px;

    text-align: center;

}

.portalImperial p {
    margin: 0;
}

.logoImperial {
    margin: 11px 0 0 0;
    /* height: 160px; */
    width: 312px;

}

.inputText {
    margin-top: 28px;
    margin-bottom: 0px;
    padding: 0;
    letter-spacing: 6px;

}

.inputFieldUser {
    margin: 8px 0 0 0;

    height: 57.45px;
    width: 290px;

    font-size: 24px;
    font-style: italic;
    text-indent: 10px;

    border-radius: 16px;

    border: 3px solid #C00203;
    background: url('../../assets/icons/mdi_user.svg') no-repeat scroll 8px 8px;
    background-position: left;
    padding-left: 30px;

}

.inputFieldUser:focus {
    border: 3px solid #C00203;

}

.inputFieldPassword {
    margin: 8px 0 0 0;

    height: 57.45px;
    width: 290px;

    letter-spacing: 6px;
    font-size: 24px;
    font-style: italic;
    text-indent: 10px;

    border-radius: 16px;

    border: 3px solid #C00203;
    background: url('../../assets/icons/mdi_password.svg') no-repeat scroll 8px 8px;
    background-position: left;
    padding-left: 30px;

}

.inputFieldPassword:focus {
    border: 3px solid #C00203;

}


.sendButton {
    text-transform: uppercase;

    margin: 12px 0 0 0;

    height: 57.45px;
    width: 326.2px;

    font-size: 18px;

    border-radius: 16px;

  
    letter-spacing: 6px;
    color: #fff;

    background: #C00203;
    border: 2px solid #C00203;
    transition-duration: 200ms;
}

.sendButton:hover {
    background: #8D0101;
    border: 2px solid #8D0101;
}


.passRecovery {
    color: #C00203;
}

.logoFooter {
    margin: 128px 0 0 0;
    padding-bottom: 128px;

    display: flex;
    flex-direction: column;
}

.GreetingImperial {
    margin-top: 50px;
    width: 128px;

}

.DevelopedByImperial {
    width: 128px;

}


.greeting {
    margin-bottom: 40px;
}