.UseTermAreaContainer {
  margin: 112px 64px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  width: auto;
}
.UseTermArea {
  border: 8px solid #111;
}

.ButtonsContainer{
    margin: 12px 0;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}