.navBarMain{
  background-color: #8652fc !important;
}
.navBarLogoLinks{
  color: #f0efef;

  text-decoration: none;

  font-weight: bolder;
  font-size: 22px;
}

.NavbarJogosUniLogo{
  width: 64px;

}
.navBarLogoLinks:hover{
  color: #fff;
  
  text-decoration: none;
}

.navBarMenuLinks{
  color: #fcfcfc;
  
  border-bottom: 3xp solid #fff;
  text-decoration: none;

  
}

.navBarMenuLinks:hover{
  color: #fff;

  text-decoration: none;
}


.userSpanName{
  margin-right: 24px;
}
.userSpanRole img{
  width: 24px;

}

.userSpanRole:hover{
  width: 24px;

  border-bottom: white solid 5px;
  transition: ease-in-out 0.3s;
}

.adminSection{
  color: #111;
  font-weight: 18px;
}

.scrollingLinkClassName{
  color: white;
}