.navBarLogoLinks{
  color: #dddddd;

  text-decoration: none;
}
.navBarLogoLinks:hover{
  border-bottom: 3xp solid #fff;
  color: #fff;

  text-decoration: none;
}

.navBarMenuLinks{
  color: #2d2d2d;

  text-decoration: none;
}

.navBarMenuLinks:hover{
  color: #111;

  text-decoration: none;
}


.userSpanName{
  margin-right: 24px;
}
.userSpanRole img{
  width: 24px;

}

.userSpanRole:hover{
  width: 24px;

  border-bottom: white solid 5px;
  transition: ease-in-out 0.3s;
}

.adminSection{
  color: #111;
}
/* .UpperNavbar {
  margin: 0 0 144px 0;
}



.FixedOnTopNavBg {
  height: 112px;

  color: black;

  font-weight: bolder;

}

.FixedOnTopNavBg .UpperNavbarLinkText {

  color: black;
  font-weight: bolder;

  font-size: 24px;
}

/* .FixedOnTopNavBg .UpperNavbarLinkText:hover {

  color: black;
  font-weight: bolder;

  font-size: 24px;

  border-bottom: solid #000111 8px;


.FixedOnTopNavBg .UpperNavbarLinkText>a {

  color: black;
}


.FixedNavText{
  height: 72px;

  color: #111;

  font-weight: bolder;

}

.ScrollingNavText{
  height: 64px;

  color: #c1c1c1;

  font-weight: bolder;

}

.UpperNavbarLinkTextForDark {
  text-decoration: none;
  color: #979797;

  font-size: large;
  font-weight: bolder;

  font-size: 22px;

  margin: 0 12px;
}

.UpperNavbarLinkTextForDark:hover {
  text-decoration: none;
  color: #ebebeb;

  border-bottom: #ebebeb solid 7px;

  transition: 80ms;

  font-size: 22px;
}

.UpperNavbarLinkTextForLight {
  text-decoration: none;
  color: #111;
  font-weight: bolder;

  font-size: 32px;

  margin: 0 12px;

}


.UpperNavbarLinkTextForLight:hover {
  text-decoration: none;
  color: #111;

  border-bottom: #111 solid 7px;

  transition: 80ms;

  font-size: 32px;
}

.UpperNavbarLinkTextForDark {
  text-decoration: none;
  color: #111;
  font-weight: bolder;

  font-size: 32px;

  margin: 0 12px;

}


.UpperNavbarLinkTextForDark:hover {
  text-decoration: none;
  color: #111;

  border-bottom: #111 solid 7px;

  transition: 80ms;

  font-size: 32px;
}
 */
