.HomeComposedFooter {
    bottom: 0;

    width: 100%;

}

.HomeComposedContainer {
    display: flex;
    flex-direction: row;

    align-items: center;

    background-color: #8652fc;

    


}

.SocialMediaArea {

    display: flex;
    flex-direction: column-reverse;
    width: 64px;

    margin-top: 10%;
    margin-right: 24px;
    margin-left: 12px;
    padding: 0;


}

.SocialMediaArea a img {
    width: 64px;
    height: auto;
    margin-bottom: 12px;
    /* background-color: #EFEFEF; */


}


img.Twitter:hover {
    width: 64px;
    background-color: #1DA1F2;
    border-radius: 50%;
    transition: background-color 0.4s ease;
}

img.Instagram:hover {
    width: 64px;
    background-color: #E1306C;
    border-radius: 50%;
    transition: background-color 0.4s ease-in-out;

}

img.Facebook:hover {
    width: 64px;
    background-color: #4267B2;
    border-radius: 50%;
    transition: background-color 0.4s ease-in-out;
}

img.WhatsApp:hover {
    width: 64px;
    background-color: #25D366;
    border-radius: 50%;
    transition: background-color 0.4s ease-in-out;
}


/* .ApoioText {

    transform: rotate(-90deg);
    margin: 0;
    padding: 0;
    margin-top: 122px;

    width: auto;
    height: 32px;
} */

.SocialMediaAreaBg{

    background-color: #8652fc;
}