.HomePublications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.PublicationCard {
  width: 100%;
  margin-bottom: 20px;
}


.PublicationCard:hover {
  cursor: pointer;
}

.InfoCardPublicationdDate {
  font-weight: bolder;
}

.InfoCardAuthor {
  font-weight: bolder;
}

.PublicationCardMetaData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px;
}
