.content {

    font-family: 'SUPERPUNCH';

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.photoLabel {
    margin: 12px;
}

.profilePic {
    width: 165px;
    height: 165px;

    border-radius: 112px;
}

.profileText {
    text-transform: uppercase;
    letter-spacing: 16px;
    font-size: 30px;
}


label {
    text-transform: uppercase;
    font-size: 22px;
    color: #C00203;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.editPhoto {
    /* background-color: #C00203; */
    z-index: 1;
    width: 32px;
    height: 32px;

    margin-left: 64px;
    margin-top: 16px;
    position: absolute;

}

input {
    font-family: 'SUPERPUNCH';
    font-size: 18px;

    padding: 0;
    margin: 4px 0 0 0;

    text-align: center;

    width: 326.2px;
    height: 2em;

    border-radius: 8px;

    text-transform: uppercase;

}

.saveButton {
    text-transform: uppercase;

    margin: 12px 0 0 0;

    height: 57.45px;
    width: 326.2px;

    font-size: 18px;

    border-radius: 16px;

    font-family: 'SUPERPUNCH';
    letter-spacing: 6px;
    color: #fff;

    background: #C00203;
    border: 2px solid #C00203;
    transition-duration: 200ms;
}

.sendButton:hover {
    background: #8D0101;
    border: 2px solid #8D0101;
}

.DevelopedByImperial {

    margin: 64px;
    width: 128px;

}

.DevelopedByImperialLink {
    height: 32px;
    margin: 32px;

}

.greeting {
    padding-bottom: 40px;
}

.backPage{
    position: fixed;
    left: 0;
    top: 0;

    margin-left: 32px;
    margin-top: 32px;
}
