.portalImperial {



  

    margin: 32px 0 12px 0;
    padding: 0;

    color: #C00203;

    font-size: 24px;
    letter-spacing: 6px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

p {
    padding: 0;
    margin: 0;
}