.HomeFooter {
  bottom: 0;

  width: 100%;
  height: auto;

  background-color: #8652fc;

  display: flex;
  flex-direction: column-reverse;

  // align-items: center;

  margin: 132px 0 0 0;
  padding: 0;
}
.HomeFooterContainer{
  display: flex;
  flex-direction: row;
}

.lowerFooter {
  width: 80%;
  margin: 12px;
  background-color: #8F00BF;
  text-align: center;

  border-radius: 8px;
}

.sponsorsArea {
  display: grid;
  grid-template-columns: auto;

  padding: 27px 184px 27px 184px;

  overflow: hidden;
}

.sponsorRow {
  margin: 12px 0px;
  padding: 0px;
  width: 75vw;

}

h4 {
  text-align: center;
  font-size: 18px;
  color: #f1f1f1;
}

h4 > span,
h4.sponsorAreaText {
  font-weight: bold;
  color: #fcfcfc;
}
h4 > span:hover,
h4.sponsorAreaText:hover {
  color: #d5d5d5;
}

.sponsorLabelText {
  text-decoration: none;

  text-transform: initial;
  font-weight: bolder;
  font-size: 22px;
  color: #fcfcfc;
}



.StickerImage
{
  height: 312px;
  margin-right: 12px;
}
