.OuterContainer {
  padding-bottom: 312px;
  margin-bottom: 512px;
}

.PaymentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  /* width: 100%; */
  /* max-width: 300px; */
  min-width: 300px;
  margin-bottom: 10px;
}
.cardHolderName {
  width: 752px;
}
.mpFormInput {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

#form-checkout__cardholderName {
  height: 40px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

#form-checkout__submit {
  width: 100%;
  max-width: 300px;
  height: 40px;
  font-size: 16px;
}

#form-checkout__submit:focus {
  cursor: wait;
}
#form-checkout__submit:active {
  cursor: wait;
}

#form-pix-submit {
  margin: 12px;
  width: auto;

  font-size: 16px;
  /* font-weight: bolder; */
}
.progress-bar {
  width: 100%;
  height: 20px;
}

.PixQrCodeContainer {
  width: 512px;
  display: flex;
  flex-direction: row;
}

.PixCodeBox {
  margin: 18px;
}
.PixQrCodeBox {
  margin: 18px;
}

.CopyIcon {
  width: 16px;
}

.PaymentFormTicketInfoCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 64px;

  align-items: center;

  color: #fcfcfc;
}

.PaymentMethodOptions {
  font-size: 32px;
  font-weight: bolder;
}
