.UserProfileForm {
  margin: 128px 0;
  width: auto;
  
}

.SubmitionStatusToast{
    position: absolute;
    top: 252px;
    right: 32px;
}

.SubmitDataButton{
    margin: 12px;
}

.AvailableInputOption{
    border: 2px forestgreen solid;
}
.AvailableInputOption:focus{
    border: 2px darkgreen solid;
}

.ProfileCard{
    margin: 6px;
    padding: 12px;
}