.eventCatalogueFix {

    margin: 32px;

}

#eventCard {

    margin: 32px !important;
}

.cardColoring{
    background-color: black !important;
}
.row{
    display: flex;
    justify-content: center;
}